/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25 sept. 2017, 14:53:52
    Author     : cpont
*/
body {
  min-height: 2000px;
  padding-top: 70px;


}

.espace{
background-color:transparent;
height:50px
}

/* ../public/assets//css/monStyle.css */
#homepage {
    margin-top: 100px;
}






table{
    border: none;
    background-color: white;

    box-shadow: rgba(100, 100, 111, 0.1) 0 7px 29px 0;
    padding: 100px;
    border-radius: 20px;
    z-index: 1;

}

.recherche{
    box-shadow: rgba(100, 100, 111, 0.1) 0 7px 29px 0;
    padding: 40px;
    border-radius: 20px;
    z-index: 1;
    border: none;
    background-color: white;
}


.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none;
    margin: 20px;
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none;

}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

footer{

    text-align:center;
    padding: 5px;
    background-color: black;
    color: white;
    float: bottom;

}


.btn {

    background-color: #806CD1;
    color: white;

}


h1, h2, h3, h4{
    color: #806CD1;
}

th{
    color: #806CD1;
}

a{
    color: #806CD1;
}


.navbar-default .navbar-nav > li > a {
    color: #806CD1;
}


.nav > li > a {
    color: #806CD1;
}


.btn:focus {

    background-color: #2a2b2c;

}
btn-active{
    z-index: 1;
}


.btn-group{
    max-height: 50%;
    border-radius: 5px;
    border: solid 1px #F0F0F0;

}







@-webkit-keyframes delay {
    0%, 40%, 100% {
        transform: scaleY(0.05);
        -webkit-transform: scaleY(0.05);
    }
    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}
@keyframes delay {
    0%, 40%, 100% {
        transform: scaleY(0.05);
        -webkit-transform: scaleY(0.05);
    }
    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}
body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #565656 ;
    background-color: #FAFAFA;
    -webkit-font-smoothing: antialiased;
    /*&.is-changing{
      &:before,
      &:after{
        transform: translateY(0);
      }
    }*/
}
body:before, body:after {
    content: "";
    height: 50vh;
    width: 100%;
    position: fixed;
    left: 0;
    background: #1c2020;
    z-index: 1;
}
body:before {
    top: 0;
    transform: translateY(-100%);
}
body:after {
    bottom: 0;
    transform: translateY(100%);
}

h1 {
    color: #1c2020;
    margin-bottom: 1em;
    font-size: 2.2rem;
    font-weight: 100;
}

.loader > div {
    height: 100%;
    width: 8px;
    display: inline-block;
    float: left;
    margin-left: 2px;
    -webkit-animation: delay 0.8s infinite ease-in-out;
    animation: delay 0.8s infinite ease-in-out;
}
.loader .bar1 {
    background-color: #754fa0;
}
.loader .bar2 {
    background-color: #09b7bf;
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.loader .bar3 {
    background-color: #90d36b;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.loader .bar4 {
    background-color: #f2d40d;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.loader .bar5 {
    background-color: #fcb12b;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.loader .bar6 {
    background-color: #ed1b72;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}





